DATABASE_URL="postgresql://postgres:postgres@localhost:5432/minimarket_don_lucho?schema=public"
APP_URL="http://localhost:3000"
AUTH_SECRET="change-me-with-at-least-32-random-characters"
ADMIN_NAME="Administrador"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeMe123!"
BREVO_API_KEY=""
BREVO_SENDER_EMAIL=""
BREVO_SENDER_NAME="Minimarket Don Lucho"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
MAX_UPLOAD_MB="5"
